<configuration>
  <connectionStrings>
    <add name="CompetitionDbContext"
         connectionString="data source=.\SQLEXPRESS;initial catalog=Competition;integrated security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>